/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS file within this directory can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the top of the
* compiled file, but it's generally better to create a new file per style scope.
*
*= require bootstrap
*= require grails
*= require main
*= require mobile
*= require_self
*/
button{
    background-color: white;
    border-radius: 20px;
    color: black;
    border: 1px solid black;
    margin: 10px;
}
button a:visited{
    text-decoration: none;
}
button a{
    color: inherit;
    text-decoration: none;
}
button:hover{
    background-color: black;
    color: white;
}